@media (max-width: 1300px), (max-height: 800px) {

    .game-container{

        height: 40rem;

        .board-container {
            
            #hb1 {

                top: 12.9rem;
                left: 1.3rem;
            }

            #hb2{
                top: 25.9rem;
                left: 1.3rem;
            }   
            #vb2{
        
                top: 1.5rem;
                left: 25.8rem;
            }
        
            #vb1{

                top: 1.5rem;
                left: 12.8rem;
            }

            #game-grid-container{
                
                #game-grid{
                    top: .50rem;
                    left: .75rem;
                    gap: 1px;

                    .grid-cell{
                        height: 11rem;
                        width: 11rem;  
                    }
                }
            }
        
        }

        .legend-container{

            .legend{

                .o-container{

                    .img-container{

                        #jackolantern{
                            margin: 1.5rem 1rem;
                        }
                    }

                }
                
                .x-container{

                    .img-container{
                        #xbones{
                            margin: 1.5rem 1rem ;    
                        }
                    }
                }
                .cat-container{

                    .img-container{

                        #cat{
                            margin: .1rem 1rem;    
                        }
                    }

                }

                // .whos-move-container{
                //     width: 100%;
                //     height: 16%;
                //     display: flex;
                //     flex-direction: row;
                //     align-items: center;
                //     justify-content: center;
                //     text-align: center;
                    
                //     #player-icon{
                //         margin-left: 1rem;
                //         height: 8rem;
                //         width: 8rem;
                //     }
                // }
            }

        }
    }

    .equals, .score{
        margin-top: 3rem;
        font-size: 50px;
    }

    .score{
        margin-left: 2rem;
    }

}

@media (max-width: 1050px), (max-height: 800px) {

    .game-container{

        height: 40rem;
        width: 50rem;

        .board-container {

            .horizontal-bar{
                width: 30rem;
                height: 1rem;
            }

            .vertical-bar{
                height: 30rem;
                width: 1rem;
            }
            
            #hb1 {

                top: 14.5rem;
                left: 1.3rem;
            }

            #hb2{
                top: 24.9rem;
                left: 1.3rem;
            }   
            #vb2{
        
                top: 5.3rem;
                left: 20.7rem;
            }
        
            #vb1{

                top: 5.3rem;
                left: 10.5rem;
            }

            #game-grid-container{
                
                #game-grid{
                    top: 5.5rem;
                    left: .78rem;
                    grid-template: repeat(3, 9rem) / repeat(3,9rem);
                    gap: 20px;

                    .grid-cell{
                        height: 9rem;
                        width: 9rem;  
                    }
                }
            }
        
        }

        .legend-container{

            .legend{

                .o-container{
                    padding-top: 2rem;

                    .img-container{

                        #jackolantern{
                            margin: 1.5rem 1rem;
                            height: 8rem;
                            width: 8rem; 
                        }
                    }

                }
                
                .x-container{
                    padding-top: 1rem;

                    .img-container{
                        #xbones{
                            margin: 1.5rem 1rem ;
                            height: 8rem;
                            width: 8rem; 
   
                        }
                    }
                }
                .cat-container{

                    padding-bottom: 3rem;

                    .img-container{

                        #cat{
                            margin: .1rem 1rem;
                            height: 8rem;
                            width: 8rem;    
                        }
                    }

                }

                .whos-move-container{
                    
                    #player-icon{
                        height: 5rem;
                        width: 5rem;
                    }
                }
            }

        }
    }



    .equals, .score{
        margin-top: 3rem;
        font-size: 30px;
    }

    .score{
        margin-left: 2rem;
    }

    .whos-move{
        font-size: 50px;    
    }

}


// Smart Phone
@media (max-width: 800px), (max-height: 650px) {

    .game-container{

        height: 30rem;
        width: 40rem;

        .board-container {

            .horizontal-bar {
                width: 25rem;
                height: 1rem;
            }

            .vertical-bar{
                height: 25rem;
                width: 1rem;
            }

            #hb1, #hb2{
                left: 1.3rem;
            }
            
            #hb1 {
                top: 10.5rem;
            }

            #hb2{
                top: 19rem;
            }   

            #vb1, #vb2{
                top: 2.5rem;
            }
            #vb2{

                left: 17.3rem;
            }
        
            #vb1{

                left: 9rem;
            }

            #game-grid-container{
                
                #game-grid{
                    top: 3rem;
                    left: 1.3rem;
                    grid-template: repeat(3, 7.5rem) / repeat(3, 7.5rem);
                    gap: 15px;

                    .grid-cell{
                        height: 7.5rem;
                        width: 7.5rem;  
                    }
                }
            }
        
        }

        .legend-container{

            .legend{

                .o-container{
                    padding-top: 2rem;

                    .img-container{

                        #jackolantern{
                            margin: 1.5rem 1rem;
                            height: 5rem;
                            width: 5rem; 
                        }
                    }

                }
                
                .x-container{
                    padding-top: 1rem;

                    .img-container{
                        #xbones{
                            margin: 1.5rem 1rem ;
                            height: 5rem;
                            width: 5rem; 
   
                        }
                    }
                }
                .cat-container{

                    padding-bottom: 3rem;

                    .img-container{

                        #cat{
                            margin: .8rem 1rem;
                            height: 5rem;
                            width: 5rem;    
                        }
                    }

                }

                .whos-move-container{
                    
                    #player-icon{
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }

        }
    }



    .equals, .score{
        margin-top: 1.8rem;
        font-size: 30px;
    }

    .score{
        margin-left: 1.5rem;
    }

    .whos-move{
        font-size: 40px;    
    }

}


@media (max-width: 640px) {

    .game-container{

        height: 45rem;
        width: 22rem;
        flex-direction: column;
        

        .board-container {

            width: 100%;
            height: 29rem;

            .horizontal-bar {
                width: 21rem;
                height: .5rem;
            }

            .vertical-bar{
                height: 21rem;
                width: .5rem;
            }

            #hb1, #hb2{
                left: .5rem;
            }
            
            #hb1 {
                top: 11.4rem;
            }

            #hb2{
                top: 18.3rem;
            }   

            #vb1, #vb2{
                top: 5rem;
            }
            #vb2{

                left: 14.2rem;
            }
        
            #vb1{

                left: 7.4rem;
            }

            #game-grid-container{
                
                #game-grid{
                    top: 5.2rem;
                    left: 0;
                    grid-template: repeat(3, 6rem) / repeat(3, 6rem);
                    gap: 15px;

                    .grid-cell{
                        height: 6rem;
                        width: 6rem;  
                    }
                }
            }
        
        }

        .legend-container{

            width: 100%;
            height: 16rem;

            .legend{
                padding: 0;

                .o-container, .x-container, .cat-container{
                    justify-content: center;
                    align-items: center;
                }

                .o-container{
                    position: absolute;
                    top: 3rem;
                    left: 0;
                    padding: 0;
                    height: 4rem;
                    width: 100%;
                    
                    
                    .img-container{

                        #jackolantern{
                            margin: 0 0;
                            height: 4rem;
                            width: 4rem; 
                        }
                    }

                }
                
                .x-container{

                    position: absolute;
                    top: 6rem;
                    left: 0;

                    .img-container{

                        #xbones{
                            margin: 0 0;
                            height: 4rem;
                            width: 4rem; 
   
                        }
                    }
                }
                .cat-container{

                    padding-bottom: 0rem;
                    position: absolute;
                    top: 11rem;
                    left: 0;

                    .img-container{

                        #cat{
                            margin: 0 0;
                            height: 4rem;
                            width: 4rem;    
                        }
                    }

                }

                .whos-move-container{

                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    #player-icon{
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }

        }
    }



    .equals, .score{
        margin-top: 0rem;
        margin-left: 1rem;
        font-size: 25px;
    }

    .score{
        margin-left: 1.5rem;
    }

    .whos-move{
        font-size: 40px;    
    }

}

